$inputSize: 25px;

.transparent-color {
    background: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%),
    linear-gradient(315deg, #fff 25%, transparent 25%),
    linear-gradient(45deg, #fff 25%, transparent 25%);
    background-size: 10px 10px;
    background-color: #eee;
}

%panelBtn {
    width: $inputSize;
    height: $inputSize;
    background-color: #222;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
}

%colorSelector {
    width: $inputSize;
    height: $inputSize;
    border: 2px solid #333;
    border-radius: 2px;
    cursor: pointer;
    position: relative;

    & > span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.canvas-dot-moved {
    .canvas-dot,
    .panel {
        pointer-events: none;
    }
}

.canvas-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    background: #000;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-dot-selected {
    box-shadow: 0 2px 2px rgba(#000, 0.3), 0 4px 6px rgba(#000, 0.3);
}

.canvas-dots-hide {
    .canvas-dot {
        opacity: 0;
        pointer-events: none;
    }
}

.panel {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    font-family: sans-serif;
    font-size: 10px;
}

.panel-header {
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
}

.panel-list {
    margin-top: 5px;
}

.panel-text {
    width: $inputSize + 5px;
}

.panel-mini {
    .panel-input-group-1,
    .panel-input-group-2,
    .panel-input-group-3,
    .panel-input-group-4 {
        display: none;
    }
}

.panel-row {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.panel-row-current {
    .panel-color {
        border-color: #fff;
        border-width: 3px;
        box-shadow: 0 0 0 1px rgba(#000, 0.1);
    }
}

.panel-input-group {
    position: relative;
}

.panel-input-group-buttons {
    display: flex;
    gap: 5px;
}

.panel-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(#000, 0.6);
    pointer-events: none;
    font-size: 11px;
}

.panel-input {
    height: $inputSize;
    border: 1px solid #333;
    padding-left: 40px;
    width: 100px;
}

.panel-color {
    @extend %colorSelector;
}

.panel-color.transparent-color {
    background-size: 4px 4px;
}

.panel-color .color {
    position: absolute;
    top: calc(100% + 5px);
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

.panel-color.is-show .color {
    opacity: 1;
    pointer-events: all;
}

$iconColor: "%23fff"; //%23

.panel-row-delete,
.panel-main-color-clear {
    @extend %panelBtn;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-x' viewBox='0 0 16 16'%3E  %3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'%3E%3C/path%3E%3C/svg%3E");
}

.panel-toggle {
    @extend %panelBtn;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-arrow-bar-left' viewBox='0 0 16 16'%3E  %3Cpath fill-rule='evenodd' d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z'%3E%3C/path%3E%3C/svg%3E");
}

.panel-mini .panel-toggle {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-arrow-bar-right' viewBox='0 0 16 16'%3E  %3Cpath fill-rule='evenodd' d='M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z'%3E%3C/path%3E%3C/svg%3E");
}

.panel-add {
    @extend %panelBtn;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-plus' viewBox='0 0 16 16'%3E  %3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'%3E%3C/path%3E%3C/svg%3E");
}

.panel-add {
    @extend %panelBtn;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-plus' viewBox='0 0 16 16'%3E  %3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'%3E%3C/path%3E%3C/svg%3E");
}

.panel-code {
    @extend %panelBtn;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-code' viewBox='0 0 16 16'%3E  %3Cpath d='M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z'%3E%3C/path%3E%3C/svg%3E");
}

.panel-row-up {
    @extend %panelBtn;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E  %3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'%3E%3C/path%3E%3C/svg%3E");
}

.panel-row-down {
    @extend %panelBtn;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E  %3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'%3E%3C/path%3E%3C/svg%3E");
}

.panel-row:first-child .panel-row-up {
    opacity: 0.2;
    pointer-events: none;
}

.panel-row:last-child .panel-row-down {
    opacity: 0.2;
    pointer-events: none;
}

.toggle-dots {
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-indent: -999px;
    overflow: hidden;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    z-index: 1;
    outline: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-eye' viewBox='0 0 16 16'%3E  %3Cpath d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z'%3E%3C/path%3E  %3Cpath d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'%3E%3C/path%3E%3C/svg%3E");
}

.toggle-dots.is-active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-eye-slash' viewBox='0 0 16 16'%3E  %3Cpath d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'%3E%3C/path%3E  %3Cpath d='M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z'%3E%3C/path%3E  %3Cpath d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z'%3E%3C/path%3E%3C/svg%3E");
}

@mixin rangeTrack() {
    background: rgba(#000, 0.3);
    border: 0;
    height: 20px;
    border-radius: 2px;
}

@mixin rangeThumb() {
    -webkit-appearance: none;
    appearance: none;
    background-color: #000;
    height: 20px;
    border: 0;
    width: 6px;
    border-radius: 2px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
        @include rangeTrack();
    }

    &::-moz-range-track {
        @include rangeTrack();
    }

    &::-webkit-slider-thumb {
        @include rangeThumb();
    }

    &::-moz-range-thumb {
        @include rangeThumb();
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup.is-show {
    display: flex;
}

.popup-container {
    max-width: 500px;
    width: 100%;
    min-height: 100px;
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0.5px 2.7px rgba(0, 0, 0, 0.022),
    0 1.4px 6.9px rgba(0, 0, 0, 0.031),
    0 2.8px 14.2px rgba(0, 0, 0, 0.039),
    0 5.8px 29.2px rgba(0, 0, 0, 0.048),
    0 16px 80px rgba(0, 0, 0, 0.07);
}

.popup-close {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    $iconColor: "%23333";
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-x' viewBox='0 0 16 16'%3E  %3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -999px;
    overflow: hidden;
}

.popup-code {
    margin: 30px 0 20px;
    min-height: 100px;
    background: #eee;
    padding: 20px;
    font-size: 14px;
    font-family: Consolas, "Courier New", sans-serif;
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
}

.popup-btn {
    max-width: 200px;
    height: 40px;
    padding: 0 20px;
    font-weight: bold;
    border-radius: 3px;
    background: #222;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    border: 0;
    display: block;
    margin: 0 auto;
}

.popup-btn.is-copy {
    padding-right: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-check2' viewBox='0 0 16 16'%3E  %3Cpath d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'%3E%3C/path%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 25px;
}