* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

html,
body {
    height: 100%;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F7FA;
}

.transparent-color {
    --size: 15px;
    --color: #eee;
    --bg: #fff;
    background: repeating-conic-gradient(var(--color) 0% 25%, var(--bg) 0% 50%) 50% 50% / var(--size) var(--size);
}
