.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    backdrop-filter: grayscale(1) contrast(2) blur(2px);
}

.popup.is-show {
    display: flex;
}

.popup-container {
    max-width: 800px;
    width: 100%;
    min-height: 400px;
    background: #fff;
    padding: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 0 0.5px 2.7px rgba(0, 0, 0, 0.022),
    0 1.4px 6.9px rgba(0, 0, 0, 0.031),
    0 2.8px 14.2px rgba(0, 0, 0, 0.039),
    0 5.8px 29.2px rgba(0, 0, 0, 0.048),
    0 16px 80px rgba(0, 0, 0, 0.07);

    h2, h3 {
        margin-top: 0;
        font-size: 20px;
    }

    [class*="btn"] {
        vertical-align: middle;
    }

    hr {
        background: #000;
        height: 1px;
        border: 0;
        box-shadow: none;
        margin: 30px 0;
    }

    a {
        font-weight: bold;
        text-decoration: none;
        color: inherit;
    }
}

.popup-close {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    $iconColor: "%23333";
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$iconColor}' class='bi bi-x' viewBox='0 0 16 16'%3E  %3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -999px;
    overflow: hidden;
}

.popup-content {
    flex: 1;
    min-height: 100px;
    font-weight: 300;
}

.popup-code {
    height: 100%;
    display: block;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    padding: 20px;
    font-size: 14px;
    font-family: Consolas, "Courier New", sans-serif;
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
}

.popup-btn {
    max-width: 200px;
    height: 40px;
    padding: 0 20px;
    font-weight: bold;
    border-radius: 3px;
    background: #222;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    border: 0;
    display: block;
    margin: 0 auto;
}

.popup-btn.is-copy {
    padding-right: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-check2' viewBox='0 0 16 16'%3E  %3Cpath d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'%3E%3C/path%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 25px;
}